.container {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.top-UI {
    border: 1px solid red;
    padding: 8px;
    margin: 5px 0px;
}

.bottom-UI {
    border: 1px solid red;
    padding: 8px;
    margin: 5px 0px;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.scoreboard {
    border: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.description,
.result {
    /* border: 1px solid red; */
    height: 3rem;
    text-align: center;
}
